numpy
pandas
jupyterlab
matplotlib
seaborn
plotly
pytest
missingno
geopandas
nbconvert
geopy
pandarallel
scikit-learn
python-dotenv
langchain
mistralai
langchain_mistralai
langchain_community
faiss-cpu
nbstripout
streamlit
watchdog

#altair==5.0.1
#ipywidgets==8.0.6
#jupyterlab-dash==0.1.0a3
#statsmodels==0.13.5